.auth-bg {
    height: 100vh;
    width: 100%;
    // background: url('https://images.pexels.com/photos/9867097/pexels-photo-9867097.jpeg?_gl=1*a8rn4m*_ga*NzE1OTUzMDkyLjE3NjQ1NjY3MDk.*_ga_8JE65Q40S6*czE3NjUyNjI2OTEkbzIkZzEkdDE3NjUyNjI4MTQkajM4JGwwJGgw') no-repeat center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card {}
