<ion-header class="ion-no-border">
  <ion-toolbar class="topbar">
    <ion-buttons slot="start">
      <ion-back-button style="color: var(--secondary-color) !important;"></ion-back-button>
    </ion-buttons>

    <ion-title class="title">Manage Users</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="loadUsers()">
        <ion-icon name="refresh-outline" class="top-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="searchbar-wrap">
    <ion-searchbar
      placeholder="Search name / email / phone..."
      (ionInput)="onSearch($event)"
      mode="ios"
      class="searchbar">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="page">

  <!-- Loading -->
  <div class="state" *ngIf="loading">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Loading users...</p>
  </div>

  <!-- Empty -->
  <div class="state" *ngIf="!loading && users.length === 0">
    <ion-icon name="people-outline"></ion-icon>
    <p>No users found</p>
  </div>

  <!-- Users -->
  <div class="list" *ngIf="!loading && filteredUsers.length > 0">
    <div class="user-card" *ngFor="let u of filteredUsers">

      <div class="user-left">
        <!-- Avatar Initial -->
        <div class="avatar" [style.background]="getAvatarGradient(u.name)">
          <span>{{ getInitial(u.name) }}</span>
        </div>

        <!-- Info -->
        <div class="info">
          <div class="row1">
            <div class="name">{{ u.name || 'N/A' }}</div>

            <div class="status-pill" [class.inactive]="(u.status || 'active') !== 'active'">
              {{ (u.status || 'active') === 'active' ? 'Active' : 'Inactive' }}
            </div>
          </div>

          <div class="meta">
            <div class="meta-item">
              <ion-icon name="mail-outline"></ion-icon>
              <span>{{ u.email || 'No email' }}</span>
            </div>

            <div class="meta-item">
              <ion-icon name="call-outline"></ion-icon>
              <span>{{ u.phone || 'No phone' }}</span>
            </div>

            <div class="meta-item muted">
              <ion-icon name="time-outline"></ion-icon>
              <span>{{ u.createdAt | date:'dd MMM yyyy, hh:mm a' }}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Action -->
      <ion-button
       [ngClass]="(u.status || 'active') === 'active' ? 'danger' : 'success'"
        class=" action" shape="round"
        (click)="toggleUserStatus(u)">
        {{ (u.status || 'active') === 'active' ? 'Deactivate' : 'Activate' }}
      </ion-button>

    </div>
  </div>

</ion-content>
