.toolbar-dark {
  --background: var(--primary-color) !important;
  background: var(--primary-color) !important;
}

.header-btn {
  background-color: transparent !important;
  --background: : transparent !important;
}


ion-button.filled {
  --background: var(--button-color);
}

ion-button.not-filled {
  --background: transparent;
}

.menu {
  background: var(--secondary-color);
  border-radius: 12px !important;
  padding: 4px;
  border: 1px solid var(--card-border-color);
  fill: var(--text-color);

}

.text-btn-border {
  --border-radius: 8px !important;
}