<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-dark">

    <!-- Left Back Button -->
    <ion-buttons slot="start" *ngIf="showBack">
      <ion-button fill="clear" (click)="goBack()" class="header-btn">
        <ion-icon name="arrow-back-outline" class="text-color"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="text-color">{{ title }}</ion-title>

    <ion-buttons slot="end" *ngIf="rightIcon">

      <ion-button (click)="onFirstRightIconClick()"
        [ngClass]="{ 'filled': isFirstButtonFilled, 'not-filled': !isFirstButtonFilled }" *ngIf="showSecondButton">
        <ion-icon [name]="showSecondButton" class="text-color "></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="onRightIconClick()" class="header-btn " *ngIf="!showRightButton">
        <ion-icon [name]="rightIcon" class="text-color "></ion-icon>
      </ion-button>

      <ion-button (click)="onRightIconClick()" class="btn_background text-btn-border" *ngIf="showRightButton">
        <ion-icon [name]="rightIcon" class="btn_text text-14 pl-5 " *ngIf="!iconFromAssets"></ion-icon>
        <ion-icon [src]="iconFromAssets" class="btn_text text-14 pl-5 " *ngIf="iconFromAssets"></ion-icon>
        <span class="btn_text ff fw500 text-12 ml-4 pr-5 ">{{buttonText}}</span>
      </ion-button>
    </ion-buttons>

    <ion-popover trigger="receiver-trigger" triggerAction="click" mode="md" *ngIf="showPopOver">
      <ng-template>
        <ion-content scrollY="false">
          <ion-list>
            <ion-item lines="none" class="text-color">First Name</ion-item>
            <ion-item lines="none" class="text-color">Last Name</ion-item>
            <ion-item lines="none" class="text-color">Most Done</ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>

  </ion-toolbar>
</ion-header>