<ion-content class="ion-padding" scrollY="false">
  <div class="avatar-center">
    <lottie-player src="../../../../assets/anim/data.json" background="transparent" speed="1" loop autoplay
    style="width: 260px; height: 260px;">
  </lottie-player>
   <!-- #3747e5 -->
    <!-- <ion-icon src="assets/svg/logo.svg" class="logo"/> -->
    <h2>Rajee App</h2>
    <p>Easily schedule, manage, and track all your bookings in one place.</p>
    <ion-button expand="block" type="submit" mode="ios" (click)="getStarted()">Get Started</ion-button>
  </div>
</ion-content>
