ion-segment {
  --background: var(--secondary-color);
  --indicator-color: var(--button-color);
  --indicator-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border: 1px solid color-mix(in srgb, var(--button-color) 15%, transparent);
  width: 93%;
  margin: 0 auto;
}

ion-segment-button {
  --color: var(--sub-title-color);
  --color-checked: var(--btn-text-color);
  --background: transparent;
  font-size: 13px;
  margin: 2px;
  --padding-end: 0px;
  --padding-start: 0px;
}

ion-segment-button::part(indicator) {
  --indicator-color: var(--button-color);
  background: var(--button-color) !important;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}
